<%- include('includes/head', {title: 'An error occured' }) %>
    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Not authenticated!</h1>
                <p>Please Login</p>
                <p><a href="/" class="btn">back to safety</a></p>
            </main>

    </body>

    </html>