<%- include('includes/head', {title: 'Not found' }) %>
    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>404</h1>
                <p>Page <b>PAGE NOT FOUND</b></p>
                <p><a href="/" class="btn">back to safety</a></p>
            </main>

    </body>

    </html>