<%- include('../../shared/includes/head', {title: 'All Your orders' }) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>All your orders</h1>
                <%- include('../../shared/includes/order-list', { orders }) %>
            </main>
            <%- include('../../shared/includes/footer') %>
    </body>

    </html>