<%- include('../../shared/includes/head', {title: 'All products' }) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Product Administration</h1>
                <section>
                    <h2>Manage Product</h2>
                    <p><a href="/admin/products/new" class="btn">Add Product</a></p>
                </section>
                <section>
                    <ul>
                        <% products.forEach((product)=> { %>
                            <%- include('inc/product-item', {product}) %>
                                <% }) %>
                    </ul>
                </section>
            </main>
            <%- include('../../shared/includes/footer') %>
    </body>

    </html>